.contact-us-container{
    margin: 15% ;
    h2{
        text-align: center;
    }
    .fieldName{
        font-size: 20px;
    }
    
    .contact-btn{
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        background: black;
        color: white
    }
}