.message-container {
  .navbar-fixed-top {
    position: sticky;
  }
  .message-doctor-container {
    display: flex;
    border: 1px solid;
    height: calc(100vh - 120px);
    background: white;
    position: relative;
  }
  .user-list-container {
    width: 30%;
    border-right: 1px solid;
    overflow-y: scroll;
    .message-list-user {
      display: flex;
      align-items: center;
      border-bottom: 1px solid;
      min-height: 70px;
      padding: 10px;
      cursor: pointer;
    }
  }
  .messsage-reply-container {
    width: 70%;
    overflow-y: scroll;
    position: relative;

    // padding: 0 3%;

    .reply-input {
      display: flex;
      position: absolute;
      bottom: 1em;
      left: 50%;
      width: 95%;
      transform: translateX(-50%);
      input {
        border: 1px solid;
        margin: 0px;
      }
    }
    .message-header {
      position: sticky;
      top: 0;
      font-size: 20px;
      text-align: center;
      background: #e7e7e7;
      padding:2% 0%;

    }
    .message-input {
      // position: absolute;
      // bottom: 0;
      // overflow-y: scroll;
      padding: 3% 3%;
    }
    .doctor-customer-message {
      margin-bottom: 5px;
      .right {
        text-align: right;
        span {
          // background: grey;
          padding: 10px 15px;
          border-radius: 4px;
        }
      }
      .left {
        text-align: left;
      }
    }
  }
}
